/* ========== Google Fonts ========== */
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap");

/* ========== Variables ========== */
:root {
  /* ========== Colors ========== */
  --main-background: hsl(215, 31%, 95%);
  --card-background: hsl(0, 0%, 99%);
  --tittle-color: hsl(0, 0%, 15%);
  --sub-tittle-color: hsl(0, 0%, 25%);
  --blue-text: hsl(215, 100%, 25%);
  --text-color: hsl(0, 0%, 70%);
  --text-white: hsl(0, 25%, 97%);
  --blue: hsl(215, 100%, 62%);
  --blue-hover: hsl(215, 100%, 50%);
  --blue-ultra-light: hsl(215, 100%, 85%);

  /* ========== Fonts ========== */
  --heebo: "heebo";
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
  --fs-1-5: 1.5rem;
  --fs-1-15: 1.15rem;
  --fs-1: 1rem;
  --fs-0-8: 0.8rem;
  --border-radius-cards: 0.75rem;
  --shadow-color: rgba(0, 0, 0, 0.2);
  --box-shadow: 0px 4px 32px var(--shadow-color);
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-25: 1.25rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --transition: color 0.4s, background-color 0.4s ease-in-out;
}

/* ========== Base ========== */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--text-color);
  background: var(--main-background);
  font-size: 14px;
  font-family: var(--heebo);
}

/* ========== Reusable CSS Classes ========== */
a {
  text-decoration: none;
  cursor: pointer;
}

.card {
  background-color: var(--card-background);
  border-radius: var(--border-radius-cards);
  margin: 1rem;
  padding: 1rem;
  box-shadow: var(--box-shadow);
}

.card-nr {
  background-color: var(--card-background);
  margin: 1rem;
  padding: 1rem;
  box-shadow: var(--box-shadow);
}

/* ========== Login ========== */
.section__form, .section__add {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.div__form {
  width: 40%;
  padding: var(--mb-2-5);
}

.form-group {
  border: none;
}

.form__tittle {
  align-items: center;
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  background-color: black;
}

.img__form {
  display: inline;
  width: 50px;
  margin-right: 5px;
}

.tittle__form {
  font-size: var(--fs-1-5);
  font-weight: var(--font-bold);
  text-transform: uppercase;
  color: var(--text-white);
}

.form__subtitle {
  font-size: var(--fs-1-15);
  font-weight: var(--font-medium);
  text-transform: uppercase;
  color: var(--sub-tittle-color);
  margin-top: var(--mb-2-5);
}

.form__paragraph {
  font-size: var(--fs-0-8);
  font-weight: var(--font-medium);
  color: var(--text-color);
  margin-bottom: var(--mb-1-5);
}

.input__box {
  background: auto;
}

.input {
  width: 100%;
  outline: none;
  font-size: var(--fs-1-15);
  font-weight: var(--font-regular);
  color: var(--sub-tittle-color);
  border-width: 0 0 2px 0;
  border-color: var(--text-color);
  margin-bottom: var(--mb-1-5);
  transition: var(--transition);
}

.input:hover {
  color: hsl(0, 0%, 0%);
  border-color: var(--blue-ultra-light);
}

.input:focus {
  color: hsl(0, 0%, 0%);
  border-color: var(--blue);
}

.input-end {
  margin-bottom: var(--mb-0-5);
}

.input__field {
  width: 100%;
  outline: none;
  font-size: var(--fs-1-15);
  font-weight: var(--font-regular);
  color: var(--sub-tittle-color);
  border-width: 0 0 2px 0;
  border-color: var(--text-color);
  margin-bottom: var(--mb-1-5);
  transition: var(--transition);
}

.input__field:hover {
  color: hsl(0, 0%, 0%);
  border-color: var(--blue-ultra-light);
}

.input__field:focus {
  color: hsl(0, 0%, 0%);
  border-color: var(--blue);
}

.input__check {
  font-size: var(--fs-1);
  font-weight: var(--font-regular);
  color: var(--text-color);
  display: block;
}

.btn__container {
  display: flex;
  justify-content: flex-end;
  margin: var(--mb-2) 0;
}

.input__btn {
  padding: var(--mb-0-75);
  width: 30%;
  box-shadow: var(--box-shadow);
  border: none;
  background-color: var(--blue);
  color: var(--text-white);
  font-size: var(--fs-1);
  font-family: var(--heebo);
  cursor: pointer;
  transition: var(--transition);
}

.input__btn:hover {
  background-color: var(--blue-hover);
}

.form__link {
  align-items: center;
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;
}

.text-link {
  margin-left: 5px;
  color: var(--blue-hover);
}

/* ========== Header ========== */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--card-background);
  padding: 1rem;
  z-index: 100;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 50px;
}

.tabs {
  list-style: none;
  display: flex;
  margin-right: auto;
}

.tabs li {
  margin-right: 1rem;
}

.tabs a {
  text-decoration: none;
  color: var(--tittle-color);
  font-weight: var(--font-medium);
  transition: var(--transition);
}

.tabs a:hover {
  color: var(--blue);
}

.menu-right {
  display: flex;
  align-items: center;
}

.user-icon img {
  width: 15px;
  height: 15px;
}

/* ========== Main Content ========== */
.main-content {
  margin-top: 80px;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 80%;
}

.project-box {
  background-color: var(--card-background);
  border-radius: var(--border-radius-cards);
  padding: 1rem;
  width: calc(33.33% - 1rem);
}

.project-title {
  font-size: var(--fs-1-15);
  font-weight: var(--font-medium);
  color: var(--tittle-color);
}

.project-description {
  font-size: var(--fs-1);
  color: var(--text-color);
}

.project-dates {
  font-size: var(--fs-0-8);
  color: var(--text-color);
  margin-top: 1rem;
}

/* ========== Formulario Nuevo Proyecto ========== */
.form-container {
  background-color: var(--card-background);
  border-radius: var(--border-radius-cards);
  padding: var(--mb-2);
  width: 60%;
  margin: 2rem auto;
  box-shadow: var(--box-shadow);
}

.form-container h2 {
  font-size: var(--fs-1-5);
  font-weight: var(--font-bold);
  text-align: center;
  margin-bottom: var(--mb-1);
}

.form-container label {
  display: block;
  margin-bottom: var(--mb-0-5);
  font-weight: var(--font-medium);
}

.form-container input[type="text"],
.form-container textarea,
.form-container input[type="date"] {
  width: 100%;
  padding: var(--mb-0-5);
  margin-bottom: var(--mb-1);
  border: 1px solid var(--text-color);
  border-radius: 4px;
  font-size: var(--fs-1);
}

.form-container button[type="submit"] {
  display: block;
  background-color: var(--blue);
  color: var(--text-white);
  border: none;
  border-radius: 4px;
  padding: var(--mb-0-5) var(--mb-1);
  margin-top: var(--mb-1);
  font-size: var(--fs-1);
  cursor: pointer;
  transition: background-color 0.4s ease-in-out;
}

.form-container button[type="submit"]:hover {
  background-color: var(--blue-hover);
}

/* ========== Tabla de Proyectos ========== */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 10px;
  text-align: center;
  font-weight: bold;
}

th {
  background-color: black;
  color: white;
}

tr:nth-child(even) {
  background-color: #f5f5f5;
}

tr:nth-child(odd) {
  background-color: white;
}

/* ========== Botones de la Tabla ========== */
button {
  background-color: var(--blue);
  color: var(--text-white);
  border: none;
  border-radius: 4px;
  padding: var(--mb-0-75) var(--mb-0-75);
  font-size: var(--fs-1);
  cursor: pointer;
  margin-right: var(--mb-0-25);
}

button:hover {
  background-color: var(--blue-hover);
}
